<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
    <div th:class="register_container">
      <form>
          <label th:class="username_text">Username</label><br>
          <input th:class="login_username_field" type="text" name="username" placeholder="Enter your username"><br>
          <label th:class="passwd_text">Email</label><br>
          <input th:class="login_passwd_field" type="text" name="email" placeholder="Enter your email"><br>
          <label th:class="passwd_text">Password</label><br>
          <input th:class="login_passwd_field" type="password" name="password" placeholder="Enter your password"><br>
          <button th:class="login_btn">Register</button>
      </form>
    </div>
</body>
</html>